Week 3: Parallel Agent
{
  "name": "Week 3: Parallel Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [16, -160],
      "id": "deb38c68-2d10-4205-a218-e56e09d20786",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.headers.subject }}\n\nBody: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "High priority",
              "description": "Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"
            },
            {
              "category": "Feature request",
              "description": "Emails containing suggestions for new functionality, enhancements, or improvements to existing products or services from users, stakeholders, or team members. Keywords: feature, enhancement, suggestion, improvement, add, new functionality, would like, could you"
            },
            {
              "category": "Bug Report",
              "description": "Emails describing technical issues, errors, or malfunctions in systems, software, or processes that require investigation and resolution. Keywords: bug, error, issue, problem, not working, broken, malfunction, crash, failure"
            },
            {
              "category": "Customer Support",
              "description": "Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"
            }
          ]
        },
        "options": { "fallback": "other" }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [208, -208],
      "id": "fbdcd5f0-ff11-410d-a1c5-5f38a4b337a2",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [352, 336],
      "id": "9899b885-cea0-412f-bf68-e395bbfa3045",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "YOUR_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["YOUR_LABEL_ID_HIGH_PRIORITY"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [688, -480],
      "id": "464ecbf8-e691-4282-8ccb-587d730bafe7",
      "name": "Add High Priority tag",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["YOUR_LABEL_ID_FEATURE_REQUEST"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [688, -272],
      "id": "0262f013-e305-4111-904b-1a92ed1d1618",
      "name": "Add Feature Request tag",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": ["YOUR_LABEL_ID_CUSTOMER_SUPPORT"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [688, 96],
      "id": "ff26828e-b8ed-4dd7-887f-052daa1322a2",
      "name": "Add Customer Support Tag",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["YOUR_LABEL_ID_BUG_REPORT"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [688, -96],
      "id": "fec37f16-6a6b-4da4-84bc-945c18f233f5",
      "name": "Add Bug Report tag",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-channel-name"
        },
        "text": "={{ $json.output }}",
        "otherOptions": { "includeLinkToWorkflow": false }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1264, -480],
      "id": "c2ca58d4-8686-4b64-98d7-be82169948ea",
      "name": "Send a message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "YOUR_SLACK_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is an inbound high priority email:\n\nFrom: {{ $('Gmail Trigger').item.json.headers.from }}\n\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nBody:  {{ $('Gmail Trigger').item.json.text }}\n\nDraft a summary note about the email, to send me via Slack. Output the summary only.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [896, -480],
      "id": "c07241d1-933a-4364-ab3b-66cfcde06f87",
      "name": "High Priority Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is an inbound feature request email:\n\nFrom: {{ $('Gmail Trigger').item.json.headers.from }}\n\nSubject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:  {{ $('Gmail Trigger').item.json.text }}\n\nDraft a polite reply thanking the sender for theis suggestion. Do not commit to building it.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [896, -272],
      "id": "182acbbd-41c8-49e9-8c4f-12321c2d6a3e",
      "name": "Feature Request Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [1424, 304],
      "id": "d1c4b4d3-d126-40bf-85a6-1718bff5bc2f",
      "name": "Create a draft in Gmail",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is an inbound bug report email:\n\nFrom: {{ $('Gmail Trigger').item.json.headers.from }}\n\nSubject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:  {{ $('Gmail Trigger').item.json.text }}\n\nDraft a polite reply thanking the sender for noticing this and promising that we will look into it shortly. Do not commit to fixing the bug.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [896, -96],
      "id": "0a5db61f-36e7-47d0-8df3-36a66a68918e",
      "name": "Bug Report Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is an inbound customer support email:\n\nFrom: {{ $('Gmail Trigger').item.json.headers.from }}\n\nSubject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:  {{ $('Gmail Trigger').item.json.text }}\n\nDraft a polite reply that answers the question to the best of your abilities.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [896, 96],
      "id": "999f1daf-3159-4484-933b-608c606561f8",
      "name": "Customer Support Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Text Classifier", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Text Classifier", "type": "ai_languageModel", "index": 0 },
          { "node": "High Priority Agent", "type": "ai_languageModel", "index": 0 },
          { "node": "Feature Request Agent", "type": "ai_languageModel", "index": 0 },
          { "node": "Bug Report Agent", "type": "ai_languageModel", "index": 0 },
          { "node": "Customer Support Agent", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [{ "node": "Add High Priority tag", "type": "main", "index": 0 }],
        [{ "node": "Add Feature Request tag", "type": "main", "index": 0 }],
        [{ "node": "Add Bug Report tag", "type": "main", "index": 0 }],
        [{ "node": "Add Customer Support Tag", "type": "main", "index": 0 }]
      ]
    },
    "Add High Priority tag": {
      "main": [[{ "node": "High Priority Agent", "type": "main", "index": 0 }]]
    },
    "Add Feature Request tag": {
      "main": [[{ "node": "Feature Request Agent", "type": "main", "index": 0 }]]
    },
    "High Priority Agent": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          { "node": "Feature Request Agent", "type": "ai_tool", "index": 0 },
          { "node": "Bug Report Agent", "type": "ai_tool", "index": 0 },
          { "node": "Customer Support Agent", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Add Bug Report tag": {
      "main": [[{ "node": "Bug Report Agent", "type": "main", "index": 0 }]]
    },
    "Add Customer Support Tag": {
      "main": [[{ "node": "Customer Support Agent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "43d71ca5-1aef-4482-abeb-7e41c19d29fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "1tDpdala6f4WGxob",
  "tags": []
}

