Week 2 RAG agent
{
  "name": "Week 2: RAG chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "7adb907b-89ba-402a-be1d-4f7b32c9c456",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -464,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "id": "e59520a5-eecb-4f6b-853e-98a5eb1e77c3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        352,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "17631a26-4f80-4656-8058-c869e440fa27",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1008,
        944
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "29e213c1-1c04-4d34-8515-c81324702d51",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        848,
        944
      ],
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "9e0ea65e-9995-4118-9ce3-d924a7a84f8a",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        144,
        224
      ]
    },
    {
      "parameters": {
        "content": "## RAG tool",
        "height": 465,
        "width": 583,
        "color": 4
      },
      "id": "9d164332-712e-4a21-8775-0c3ea125e6f6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Data ingestion pipeline",
        "height": 671.8877842322804,
        "width": 2070.8894079025763,
        "color": 5
      },
      "id": "9a7d0846-1acd-4f95-b511-255714fd45b8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        640
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "72b673ad-bb40-421b-8ba2-8394dac5b751",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        816
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6GEzKBvYMHPc9108",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XC2fN8kYNU0HyeB0NVqLvz4DbIUx4xUO",
          "mode": "list",
          "cachedResultName": "RAG contents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XC2fN8kYNU0HyeB0NVqLvz4DbIUx4xUO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "30fe6e83-ffa9-4c52-915c-8c4b783da68f",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        720
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6GEzKBvYMHPc9108",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XC2fN8kYNU0HyeB0NVqLvz4DbIUx4xUO",
          "mode": "list",
          "cachedResultName": "RAG contents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XC2fN8kYNU0HyeB0NVqLvz4DbIUx4xUO"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "a221679c-86e9-49c2-86b9-b67610af8c30",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        944
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6GEzKBvYMHPc9108",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "3a5885e1-6166-4be6-9fa4-62b9ca437900",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        608,
        816
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "516bd118-e79b-41c0-b7b6-666fe9b8f005",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "K4pI7fegL1NQI6I2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9657c89-2fbc-45ec-a97c-48469766aade",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "abfdc8b7-97af-4c10-84b0-d3df2d85a5b9",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        816
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qLjYffRXMvB6T7xZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e728701-5a64-4251-ae6d-465a864e6b1e",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        816
      ]
    },
    {
      "parameters": {
        "content": "## Chat interface\n",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "0fbc2f15-b3e4-440b-8169-8ddabb3ad804",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        160
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "a0870931-7efe-47b1-acd4-46e5c113a2b3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        240
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant that ONLY answers using the information retrieved from the vector database. \n\n- If the retrieved documents contain an answer, respond clearly and concisely using ONLY that information.\n- Do not add outside knowledge, assumptions, or general background.\n- If the retrieved documents do not contain relevant information, reply exactly: \"I don't know\".\n- Never fabricate or guess an answer."
        }
      },
      "id": "05e9d696-0914-46fd-aa0a-ab2230a01418",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -368,
        240
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "eb42b120-e6ce-479f-8743-bf5f6b48c1f5",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        16,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qLjYffRXMvB6T7xZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "691f0082-23b8-4bce-b3f7-28eb641d8005",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        896,
        720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qLjYffRXMvB6T7xZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -320,
        464
      ],
      "id": "eef0d7f0-e4fd-41e1-b2a1-83d5402bb435",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "WdWYC0NGErjYqQ5t",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "File Created": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8&exportFormat=txt"
          },
          "parents": [
            "1XC2fN8kYNU0HyeB0NVqLvz4DbIUx4xUO"
          ],
          "lastModifyingUser": {
            "displayName": "Ed Biden",
            "kind": "drive#user",
            "me": true,
            "permissionId": "05801218962019623812",
            "emailAddress": "ed@hustlebadger.com",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUgVaaZyJCYsD6pwp2EaAxXyaFpsM63e10FlVqlCVTJYOur1UjO7B_XJkUU_Gv_4PTu-2ErkHklr7AnEMSFzJsePWHXuA6kJ-21Tufd3ogNrjQAUinI5UIOX-nN9ngHq-18Ov4LqzoDCVlYLvyiLvPbSCysuki1Z-u1kTvtWIChUR2WBbEHFQZOUlUWwFPpyneHCAVI8dxm_FG7llLnLLtJz8Qz2yg0tkEauQAUMadMWnnb9tENw9mCaeCKfPHpepdDMQpblhQKGpHA-dg_nymXIkkIH38I_RD7dS6DDfLA20pjMnevfxfbXDi2tYdhVIaedQoISXgTRCQDdvjI7og1KEpZv318nWXrn59V0a73-eUYxJy35IeM2KmVChUqocTa15fOm04axStT2Op0U4i4OiW9PU9Svy2XCxvObl6OeLNRiP3NnEGp2b-XpBnHeuINYebrErqdgPJp6cJepwt9AA1lXGe0OcCIkPSS-nsosxArztu8ttONOeMdX8hTnz7sSVDb0zOhaj4ScnTc7-E1eRqsxfyAJ0vsNcOeUK4USj6Zb_lV0VMmoQxosFi0SodNTbYLhqeY4V-g7-vjiFDb_SsNpBCWKgrIGRdYJzJlh13VobRX1vAXsiWkf4-hksRhcoTAotjELm_NoS3z4acOE8SnGRMA-K0n-yQ7qgueUvue2byWLaKf-fu7o4bQwEXieSmnTXHlVl4ojXI18Xd-5EFzXduNS1srOJJPjOyIxJCOC8bl69N3KnvtlbgoIPzb0usHnhjJBK9gCdiEPaw54y_ciUQlfzxLTpYIgR5_TtWnADHfVcNJPqObP6aQIpSPBKomiIyggGTlJvbEpCbV1rSZovdFS9fi3-UuRwvWqna7zT7SCWl9tqHZJHb6o0DoHORS3bgVEIR0wYiGZJlf2XHJW8g5uGrbwP6VdWdWomfggIMS7USnUGVKTwHsuBbu-CObCycvAEe8kBj1_vL1OTntwLYZkA=s64"
          },
          "owners": [
            {
              "displayName": "Ed Biden",
              "kind": "drive#user",
              "me": true,
              "permissionId": "05801218962019623812",
              "emailAddress": "ed@hustlebadger.com",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUgVaaZyJCYsD6pwp2EaAxXyaFpsM63e10FlVqlCVTJYOur1UjO7B_XJkUU_Gv_4PTu-2ErkHklr7AnEMSFzJsePWHXuA6kJ-21Tufd3ogNrjQAUinI5UIOX-nN9ngHq-18Ov4LqzoDCVlYLvyiLvPbSCysuki1Z-u1kTvtWIChUR2WBbEHFQZOUlUWwFPpyneHCAVI8dxm_FG7llLnLLtJz8Qz2yg0tkEauQAUMadMWnnb9tENw9mCaeCKfPHpepdDMQpblhQKGpHA-dg_nymXIkkIH38I_RD7dS6DDfLA20pjMnevfxfbXDi2tYdhVIaedQoISXgTRCQDdvjI7og1KEpZv318nWXrn59V0a73-eUYxJy35IeM2KmVChUqocTa15fOm04axStT2Op0U4i4OiW9PU9Svy2XCxvObl6OeLNRiP3NnEGp2b-XpBnHeuINYebrErqdgPJp6cJepwt9AA1lXGe0OcCIkPSS-nsosxArztu8ttONOeMdX8hTnz7sSVDb0zOhaj4ScnTc7-E1eRqsxfyAJ0vsNcOeUK4USj6Zb_lV0VMmoQxosFi0SodNTbYLhqeY4V-g7-vjiFDb_SsNpBCWKgrIGRdYJzJlh13VobRX1vAXsiWkf4-hksRhcoTAotjELm_NoS3z4acOE8SnGRMA-K0n-yQ7qgueUvue2byWLaKf-fu7o4bQwEXieSmnTXHlVl4ojXI18Xd-5EFzXduNS1srOJJPjOyIxJCOC8bl69N3KnvtlbgoIPzb0usHnhjJBK9gCdiEPaw54y_ciUQlfzxLTpYIgR5_TtWnADHfVcNJPqObP6aQIpSPBKomiIyggGTlJvbEpCbV1rSZovdFS9fi3-UuRwvWqna7zT7SCWl9tqHZJHb6o0DoHORS3bgVEIR0wYiGZJlf2XHJW8g5uGrbwP6VdWdWomfggIMS7USnUGVKTwHsuBbu-CObCycvAEe8kBj1_vL1OTntwLYZkA=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "05801218962019623812",
              "type": "user",
              "emailAddress": "ed@hustlebadger.com",
              "role": "owner",
              "displayName": "Ed Biden",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVQdjR9_HXHjZ8hD44kj8xxCOmOfgvTRvuNb6MoiDd7v1gZNd4bOC57S_yt0uDMTET589PuI2JknJAMDzo97aWJ0Kc6Fa-tR9Bl224lyop-OMWDzEI0qBnN-LLVhPdIhWRygNR6NK4S_XqWtAvTrb8PmoipWqr0uisbmHuIDJ8oeK8TWHE8NAJyPD-Dp974HCdPJHvKrrkPu66BjxeDvNzzYG837DUtcZgsd0AvEFT76Ee1nNo7k8k_eeGBy0baV09l_PLPUKyLeosqkVhEakE3noHBZebbhZ_y8euhLQRFEQ4uY_pwsSUd6hW_XuQ8HbinvftgKcIpufO9rPP4JrYrCxyh1wEUSW_v_WoahmH-s893caLkKweM1LdBGrhUXVHMWoAZJebD3e_nCtc-Gyd8r2qofOyjkaaqGyjUspQmoucq01qmx3qFN0dZ-f9_aC_VjNF2FWtfg_MhCaRx-W-zBzWeB9kqoLjQcgPjlkomog9t42hVuneHthP-MIcup4wi7fgZ3Vs-mpIEPoCHgT7dDj0vbk6Esyx0H1RqY3Irt-232xZwhfmsxHLLc3BmMCdET8ntdlsVFmKJdRj2asK9vlXFYTnTOtwENfAXarOuN6ZEa9IERbzlcbxnUuab-HRBTUCSTG6z-uwAlFQ2RXPeC_VROsy5CcbfLIPOWG6Yq6LwFPkv-dmITnAZYedO-5BY6fcaPkGbvpVq7UaVJEY8Jtbd2CeLm005jzBBninlKv2_lGa2HYZdaNLJQDicwH8fu097YxD0RpCKhdH5CBbsq0PC4cTuwcKueRI068ThN8vJWf-EO3sqxN2SI4Mb4cnHzM9OT2PMa-6SY2whHY_M9NfWlUgszebXtIM1fprHRK10RNDzOXL6OpAWC6DFmsAxK5CIBK7KgWBXlR7ez6DrnhZnNhuOCcYS6UiqxaWRVBu1zQw9qBNbUDbyl5NURfgK4XuwuiEOcnaGDByVtJsi6_nhyXH8BA=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "05801218962019623812"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8",
          "name": "Copy of Common Metrics",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "7",
          "webViewLink": "https://docs.google.com/document/d/1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMFsVidSeCBHnsF1q_prac_85omMB2sXuXQQ6T-pj9ObDZRIe0C2mVMkLKiLysCNCT0yVRpz4ofXFLu02mJEDLF79MypKviUwFWIMlUwAFVneDNImsdXN33zVhhZA=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-09-24T14:46:13.772Z",
          "createdTime": "2025-09-24T14:45:48.660Z",
          "modifiedTime": "2025-09-24T14:45:48.660Z",
          "modifiedByMeTime": "2025-09-24T14:45:48.660Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "2654930",
          "quotaBytesUsed": "2654930",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ],
    "Set File ID": [
      {
        "json": {
          "file_id": "1EngBnFllSIP5xLy9-oHSxTa_G8HREd6GazwSWZOejh8"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a72ef67-ae14-4c5b-9adb-951344d4ccb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ecce7eb81f8fd70e4c5200c82cdcb7c58516d88e35aa4d5ade4a6b248e237a0"
  },
  "id": "UUeps9nm9skRAmHu",
  "tags": []
}
